@import "ace.less";
@import "~element-ui/lib/theme-default/index.css";
.el-table {
  border: none;
}
.el-table:before {
  height: 0;
}
.el-table:after {
  width: 0;
}

.el-dialog--small {
  width: 520px;
}

.el-pagination {
  float: right;
}
.help-block {
  margin: 0px;
}
